NotifyServiceClient/Service References/NotifyServiceReference/NotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_INotificationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6529/NotifyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6529/NotifyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationService_StartServer_InputMessage">
    <wsdl:part name="parameters" element="tns:StartServer" />
  </wsdl:message>
  <wsdl:message name="INotificationService_StartServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartServerResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_StopServer_InputMessage">
    <wsdl:part name="parameters" element="tns:StopServer" />
  </wsdl:message>
  <wsdl:message name="INotificationService_StopServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopServerResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationService">
    <wsdl:operation name="StartServer">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/StartServer" message="tns:INotificationService_StartServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/StartServerResponse" message="tns:INotificationService_StartServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopServer">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/StopServer" message="tns:INotificationService_StopServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/StopServerResponse" message="tns:INotificationService_StopServer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_INotificationService" type="tns:INotificationService">
    <wsp:PolicyReference URI="#NetHttpBinding_INotificationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartServer">
      <soap12:operation soapAction="http://tempuri.org/INotificationService/StartServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopServer">
      <soap12:operation soapAction="http://tempuri.org/INotificationService/StopServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="NetHttpBinding_INotificationService" binding="tns:NetHttpBinding_INotificationService">
      <soap12:address location="http://localhost:6529/NotifyService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:6529/NotifyService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>